<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-eolivas" value="https://nuget.pkg.github.com/eolivas/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-eolivas>
      <add key="Username" value="eolivas" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-eolivas>
  </packageSourceCredentials>
</configuration>
